receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  transform/logs:
    log_statements:
      - context: log
        statements:
          - set(attributes["event"], body)
          - merge_maps(attributes, ParseJSON(body), "upsert") where IsMatch(body, "^\\{")
          - set(time_unix_nano, UnixNano(Time(attributes["time"], "%Y-%m-%d %H:%M:%S.%f%z")))

exporters:
  splunk_hec:
    token: <token>
    endpoint: https://http-inputs-implydata.splunkcloud.com/services/collector
    source: json-log-sender
    sourcetype: access_combined
    index: global_sec_web_dev
    tls:
      insecure: true

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [transform/logs]
      exporters: [splunk_hec]
